@font-face {
    font-family: 'Proxima Nova A';
    src: url('ProximaNovaA-RegularCondensed.woff2') format('woff2'),
        url('ProximaNovaA-RegularCondensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

